*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover 1.5rem;
    background-position: top;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.bg--header{
    border-radius: 18px 18px 0 0;
    display: block;
}

main{
    background: #fff;
    width: 28.1rem;
    margin: 0 auto 4rem;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 0 0 18px 18px;

    
}

.content{
    text-align: center;
    
}

.title--content{
    margin-bottom: 1rem;
    color: hsl(223, 47%, 23%);
    
}

.description{
    padding: 0 3rem 0;
    color: hsl(224, 23%, 55%);
    line-height: 1.5;
}

.price{
    margin: 1.5rem 0 0 1.1rem;
    text-align: center;
    background-color: hsl(225, 100%, 98%);
    width: 20rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 8px;
     
}

.price::after{
    content: '';
    display: block;
    clear: both;
}


.title--price{
    transform: translateY(70%);
    text-align: left;
    font-size: 1rem;
    margin-left: 5rem;
    color: hsl(223, 47%, 23%);
}

.price p{
    margin-top: 1.25rem;
    text-align: left;
    margin-left: 5rem;
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
    
}

.icon_music{
    float: left;
    transform: translateY(-90%);
   
}

.change{
    float: right;
    transform: translateY(-190%);
    font-weight: bold;
    font-size: 16px;
    color:  hsl(245, 75%, 52%);   
    transition: all .3s;
}

.change:hover{
    color: hsl(245, 82%, 68%);
}


.confirm-pay{
    display: inline-block;
    background: hsl(245, 75%, 52%);
    border-radius: 6px;
    box-shadow: 0rem 1rem 1em rgb(219, 218, 218);
    text-align: center;
    margin: 1.5rem 0 1.5rem 1rem;
    width: 22rem;
    transform: rotateX(20%);
    padding: 13px 0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #fff;
    transition: all .3s;
}

.confirm-pay:hover{
    background: hsl(245, 82%, 68%);
}

.cancel-pay{
    text-align: center;
    margin-left: 8.9rem;
    margin-top: 2rem;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1.5rem;
    
}

.cancel-pay a{
    color: hsl(224, 23%, 55%);
    text-align: center;
    text-decoration: none;
    transition: all .3s;
}

.cancel-pay a:hover{
    color: hsl(223, 47%, 23%);

}
